.login_register-body {
  background-color: #61dafb;
}

.login_register-login {
  background-color:bisque;
  padding: 150px;
  margin: 100px;
}

.align-right {
  text-align: end;
}

.register-body {
  background-color: #61dafb;
}

.register-login {
  background-color:cornsilk;
  padding: 150px;
  margin: 100px;
}






